.videoForm {
	display: flex;
	flex-direction: column;
	width: 700px;
	font-size: 18px;
	background-color: #fff;
	border-radius: 12px;
	padding: 30px;
	border: 1px solid #0002;
	box-shadow: 0 0 20px #0001;
}
.videoForm input,
.videoForm textarea {
	font-family: Roboto, Arial, sans-serif;
	border: 1px solid #e2e2e2;
	background-color: #f7f7f7;
	padding: 10px 15px;
	color: #000;
	font-size: 16px;
	margin-top: 7px;
	margin-bottom: 24px;
	border-radius: 10px;
	transition: all .1s ease-out;
}
.videoForm input:focus,
.videoForm textarea:focus {
	border-color: #999;
	outline:none;
}
.videoForm button {
	align-self: flex-end;
	font-size: 15px;
}
.videoForm button:not(:disabled) {
	background-color: #0f0f0f;
	color: white;
}
.videoForm button:focus:not(:disabled),
.videoForm button:hover:not(:disabled) {
	background-color: #f82a23;
}
.videoForm button:active:not(:disabled),
.videoForm button:active:not(:disabled) {
	background: #c3231d;
	box-shadow: 0 0 10px #c3231d inset;
	border-color: #f82a23;
}

.videoForm button:disabled {
	cursor: not-allowed;
}
.videoForm label small {
	margin-left: 5px;
	color: #666;
	font-style: italic;
	font-size: 70%;
}